.wrapper-block
{
    padding: 10px;
    border-left: solid;
    border-right: solid;
}

.info-block
{
    margin-left: 25px;
}

.info-block
{
    margin: 10px;
    padding-left: 20px;
}

.wrapper-block
{
    margin-bottom: 15px
}